/* //Header Section */
/* .container{
    max-width: 1280px;
    
    
} */
.nav-part{
    display: flex;
    justify-content: space-between;
    gap: 56px;
   margin: 49px auto 63px;
   max-width: 1280px;
}

.nice input{
    width:508.94px;
    height: 30px;
    border-radius: 66px ;
    background-color: rgb(241, 241, 241);
     padding-left: 20px ;
     border: none;
    

}
.hello{
   position: relative;
}
.hello i{
    position:absolute;
    top:8px;
    left:490px;  
    Width:21.94px;
    Height:22.08px;


}

.list{
    display: flex;
    gap: 24px;
}
.list li{
    text-decoration: none;
    list-style: none;
    
}

/* //section-1 */
.boro-vai{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    width: 1212px;
    height: 455px;
   margin:auto;
   background-color: #FEEAE9;
   border:none;
   border-radius: 10px;
   
}
.commander h1{
      font-weight: 700;
      font-size: 56px;
      color: #1F1F1F;
      width: 600px;
}

.commander p{
    font-weight: 400;
    font-size: 16px;
    color: #4E4E4E;
}

.commander h2{
    font-weight: 500;
    font-size: 41px;
    color: #FF136F;
}

.awesome{
    width:168px;
    height:52px;
    padding: 10px 15px;
     color: #FFFFFF;
    background-color: #FF589B ;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
   
}
.awesome:hover{
   background-color: yellowgreen; 
   color: black;
   width:170px;
    height:60px;
    padding: 20px;
    border-radius: 10px;
}
.commander{
   max-width: 600px;
   height: 318px;
   padding-bottom: 69px;
   padding-left: 46px;
   padding-top: 40px;
   
} 
.artist img{
    width: 402px;
    height: 378px;
    padding: 20px;
}

/* //section-2 */

.boom{
    display:flex;
    justify-content: space-between;
}
.darun{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #FF9C35, #FFD019);
    width:359px;
    height:120px;
    border:none;
    border-radius: 5px;
    gap:20px;

}
.darun img{
    width: 68px;
    height:90px;
}
.fav{
    display: flex;
}
.fav img{
    width: 94px;
    height:94px;
}
.real{
    display: flex;
}
.real img{
    width: 152px;
    height: 97px;
}

